.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.hentry {
	.entry-content,
	.entry-summary {
		.has-drop-cap {
			margin-bottom: 1.5rem;
		}

		.has-drop-cap:not(:focus):first-letter {
			font-size: 3.4em;
			line-height: 1;
			font-weight: bold;
			margin: 0 0.25em 0 0;
		}

		> *.alignfull {
			position: relative;
			left: -1rem;
			width: calc(100% + (2 * 1rem));
			max-width: calc(100% + (2 * 1rem));
			clear: both;

			@media only screen and (min-width: 768px) {
				margin-top: calc(2 * 1rem);
				margin-bottom: calc(2 * 1rem);
				left: calc(-15% - 80px);
				width: calc(150% + 15px);
				max-width: calc(150% + 15px);
			}
		}

	}

	
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
